@charset "utf-8";
body {
	font:13px/20px Arial, Helvetica, sans-serif;
	color:#666;
}
a {
	color:inherit;
	text-decoration:none;
}
a img {
	outline:none;
}
.topStrip {
	width:100%;
	background:#3299CC;
	height:5px;
}
.topStrip.gray {
	background:#666666;
}
.topStrip.blue {
	background:#3299CC;
}
.header {
	width:100%;
	height: 80px;
	border-bottom: 1px dashed #999999;
	background: rgb(234,234,234); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(234, 234, 234, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=0 ); /* IE6-9 */
}
.logo {
	float:left;
	padding:10px 0 0 10px;
}
.topAd {
	float:right;
}
.topAd img {
	float:left;
	padding:10px 10px 0 0;
}
.topNav {
	background:	#333;
	width:100%;
	overflow:auto;
}
.topNav li {
	float:left;
}
.topNav li a {
	float:left;
	padding: 5px 20px;
	text-decoration: none;
	font-size:11px;
	color:#FFFFFF;
	border-right: 1px solid #222;
	border-left: 1px solid #444;
}
.topNav li a:hover {
	background:	#666;
}
.topSearch {
	float:right !important;
	margin:3px 10px 0 0;
	font-size:12px;	
}
.smallAdContainer {
	width:100%;
	padding:10px 0;
	background:#EAEAEA;
}
.smallAd {
	width:870px;
	margin:0 auto;
	overflow:auto;
}
.smallAd li {
	width:135px;
	height:54px;
	border:5px solid #666;
	float:left;
}
.smallAd li a img {
	width:135px;
	height:54px;
}
.wrapper {
	width:100%;
	overflow:auto;
}
.left {
	float:left;
	width:180px;
	margin-right:20px;
}
.right {
	float:right;
	width:250px;
}
.sideInner {
	float:left;
	overflow:auto;
	margin-bottom:25px;
}
.sideInner ul {
	background: rgb(255,255,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYmRhZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(187,218,249,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(187,218,249,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(187,218,249,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(187,218,249,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(187,218,249,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(187,218,249,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bbdaf9',GradientType=0 ); /* IE6-8 */
	padding-bottom:10px;
}

.sideInner.right {
	width:250px;
}
.sideInner.left {
	width:180px;
}
.sideInner li input[type="text"] {
	width:87%;
	padding:2px;
	margin-left:10px;
}
.sideInner li select {
	width:89%;
	padding:2px;
	margin-left:10px;
}
.sideInner li label {
	padding:5px 0 0 10px;
}
input[type="button"], input[type="submit"] {
	padding:3px 15px;
	border: 1px solid #A82A28;
	margin:10px 5px 0 10px;
	color:#FFFFFF;
	cursor:pointer;
	background: rgb(238,56,58); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyJSIgc3RvcC1jb2xvcj0iI2VlMzgzYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhODJhMjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(238,56,58,1) 2%, rgba(168,42,40,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(238,56,58,1)), color-stop(100%,rgba(168,42,40,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(238,56,58,1) 2%,rgba(168,42,40,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(238,56,58,1) 2%,rgba(168,42,40,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(238,56,58,1) 2%,rgba(168,42,40,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(238,56,58,1) 2%,rgba(168,42,40,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee383a', endColorstr='#a82a28',GradientType=0 ); /* IE6-8 */
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.center {
	width:50%;
	float:left;
	margin-right:20px;
}
h1.newsHead {
	color:#FFFFFF;
	font-size:16px;
	background:#3299CC;
	padding:3px 0 3px 10px;
}
h1.newsHead.marginTop {
	margin-top:20px;
}
ul.leftNav {
	width:180px;
	float:left;
	overflow:auto;
	background:#666666;
}
ul.leftNav li {
	border-bottom:1px solid #555555;
	border-top:1px solid #777777;
	float:left;
}
ul.leftNav li a {
	width:160px;
	float:left;
	padding:5px 10px;
	color:#FFF;
	font-size:11px;
	background:url(../images/arrow.png) no-repeat 95% 50% #666666;
}
ul.leftNav li a:hover {
	background:url(../images/arrow.png) no-repeat 95% 50% #444444;
}
.newsSection {
	width:100%;
	overflow:auto;
}
.newsSection tr {
	float:left;
}
.newsSection td {
	width:50%;
	float:left;
	overflow:auto;
	padding:20px 0;
	border-bottom: 1px dashed #666666;
}
.newsSection td div {
	float:left;
	overflow:auto;
	padding:20px 0;
	border-bottom: 1px dashed #666666;
}
.newsSection td div.large {
	width:98%;
}
.newsSection td div.large h1 {
	min-height:auto;
}
.newsSection td div.small {
	width:49%;
}
.newsSection td div.small span img {
	width:100px;
	height:75px;
}
.newsSection td.full {
	width:100%;
}
.newsSection td.large {
	width:70%;
	border-bottom: none;
}
.newsSection td.small {
	padding:20px 0 5px 0;
	width:30%;
}
.newsSection td h1 {
	width:95%;
	color:#3299CC;
	font-size:18px;
	margin-bottom:10px;
	min-height:40px;
}
.newsSection td h1 a {
	color:#3299CC;
}
.newsSection td h1 a:hover {
	color:#b61214;
}
.newsSection td h6 {
	text-align:right;
	color:#3299CC;
	width:95%;
}
.newsSection td.large h6 {
	width:95%;
}
.newsSection td h6 a {
	color:#3299CC;
}
.newsSection td h6 a:hover {
	text-decoration:underline;
}
.newsSection td p {
	width:95%;
	text-align:justify;
}

.newsSection td img {
	width:100px;
	/*height:75px;*/
	padding:4px;
	border:1px solid #3299CC;
	font-size:16px;
	float:left;
	margin: 0 15px 10px 0;
}
.newsSection td.large img {
	width:200px;
	height:150px;
}
.newsSection td.small img {
	width:50px;
}

.center table {
	background:#FCFCFC;
}
.center table tr.stripe {
	background:#F2F2F2;
}
.footer {
	width:100%;
	padding:10px 0;
	overflow:auto;
}
.footer span.left {
	width:45%;
	float:left;
	padding:0 0 0 15px;
}
.footer span.right {
	width:45%;
	float:right;
	padding:0 15px 0 0;
	text-align:right;
}


.categorySection {
	width:24%;
	margin-right:1%;
	float:left;	
}
.categorySection li a {
	float:left;	
	width:100%;
	padding:10px 0;
	color:#3299CC;
	border-bottom:1px dashed #3299CC;
}
.categorySection li a:hover {
	color:#b61214;
}
.social {
	float:right;
	margin: 10px 10px 0 10px;
	border-left: 1px dotted #333;
	padding-left: 20px;	
}
.social a {
	float:left;
	margin-right:10px;
}

.modifySearch {
	background:#333;
	overflow:auto;
	padding:5px 10px;
	color:#FFF;	
}
.modifySearch li {
	float:left;
	padding:10px 10px;	
}
.modifySearch li label {
	float:left;
	text-align:left;
}
.modifySearch li input[type="submit"] {
	margin:0;
}