#currency_converter form {
    padding: 0px;
    margin: 0px;
}

#currency_converter div {
    padding: 0px;
    margin: 0px;
    width:230px;
	float:left;
}

#currency_converter #calc_div, #currency_converter #calc_div_iframe, #currency_converter .form_bottom {
    display: none;
}

#currency_converter .required, #currency_converter .err {
    color: #7aa1c8;
}

#currency_converter .form_table_outframe {
	display: block;
    width: 200px;
    font-size: 11px;
	color:#333333;
	background-color:#02406c;
}

#currency_converter .page_header {
    display: block;
    float: left;
    width: 240px;
    background-color: #3299CC;
    color: #FFFFFF;
    line-height:25px;
    padding-bottom:1px;
    border-bottom: solid 1px #ffffff;
    font-size:16px;
    text-transform: capitalize;
	padding-left:10px;
}

#currency_converter .form_table_frame {
    float: left;
    width: 200px;
    padding: 0px;    
}

#currency_converter .form_table {
    display: block;
    float: left;
    width: 250px;
    
    padding-bottom:10px;
	background: url(../images/background_main.gif) top repeat-x #bbdaf9;
}

#currency_converter .form_table_row {
    display: block;
    width: 230px; 
    margin-left:10px;
	margin-top:10px;
}

#currency_converter #calculator_subscribe {
    width: 229px;
	text-align:center;
}

#currency_converter .form_fields, .form_label_bgr, select {    
    font-size: 11px;
}
/* #currency_converter_menu_links */
#currency_converter_menu_links {
	display:none;	
}
#currency_converter a, #currency_converter a:visited, #currency_converter a:active {
    text-decoration: underline;
    color: #3963AB;
}

#currency_converter a:hover {
    text-decoration: underline;
}

#currency_converter #currency_converter_menu_links a {
    display: block;
    font-size: 11px;
    float: left;
    width: 100%;
    margin-bottom:5px;
    margin-left:10px;
    padding-left:20px;
    display:inline;
    line-height:15px;
	color:#333333; 
}

#currency_converter #currency_converter_menu_links  a {
    background: url(../images/bullet_question.gif) left no-repeat;
}

#currency_converter #currency_converter_menu_links a.uri3431 {
    background: url(../images/bullet_add.gif) left no-repeat;
}

#currency_converter #currency_converter_calculator_subscribe_form_under_info {
    display: block;
    float: left;
    width: 230px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#currency_converter .checkradio_form_label_cell {
    display: block;
    width: 90%;
}
#curr_amount {
	text-align:left !important;	
}
#currency_converter .rate_calc_result {
    display:none;
    border: none;
    float:left;
    width: 175px;
    padding: 2px;
    text-align:left;
    font-weight: normal;
    background-color: #e0eefb;
	color:#333333;
	padding-left:4px;
    clear: both;
}

#currency_converter .rate_calc_result a{
	color:#333333;
}

/*------ new ------*/

#currency_converter .form_label_bgr, #currency_converter .form_fields {
    width:230px;
    font-size:11px;
    color:#333333;
}

#currency_converter .btn_submit {
    width:179px;
    height:25px;
    font-size:14px;
    line-height:25px;
    color:#333333;
    border:none;
    font-weight:bold;
    background: url(../images/button_convert.gif) center no-repeat;
    cursor:pointer;
    
}

#powerd {
    float:left;
    width:200px;
    clear:left;
    margin-top:4px;
}

#powerd a {
    font-size:10px;
    color:#333333;
    text-decoration:none;
}

#powerd a:hover {
    font-size:10px;
    color:#333333;    
    text-decoration:underline;
}